<div class="modal-container">
  <ngb-accordion>
    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información Básica
      </ng-template>
      <ng-template ngbPanelContent>
        <app-basic-information></app-basic-information>
      </ng-template>
    </ngb-panel>

    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información de nacimiento
      </ng-template>
      <ng-template ngbPanelContent>
        <app-birth-information></app-birth-information>
      </ng-template>
    </ngb-panel>

    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información de Discapacidad
      </ng-template>
      <ng-template ngbPanelContent>
        <app-disability-information></app-disability-information>
      </ng-template>
    </ngb-panel>

    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información de Asistencia
      </ng-template>
      <ng-template ngbPanelContent>
        <app-assistance></app-assistance>
      </ng-template>
    </ngb-panel>

    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información de Residencia
      </ng-template>
      <ng-template ngbPanelContent>
        <app-residency-information></app-residency-information>
      </ng-template>
    </ngb-panel>

    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información Social
      </ng-template>
      <ng-template ngbPanelContent>
        <app-social-information></app-social-information>
      </ng-template>
    </ngb-panel>

    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información de los Padres
      </ng-template>
      <ng-template ngbPanelContent>
        <app-parent-information></app-parent-information>
      </ng-template>
    </ngb-panel>

    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información Acudiente / Responsable
      </ng-template>
      <ng-template ngbPanelContent>
        <app-guardian-information></app-guardian-information>
      </ng-template>
    </ngb-panel>

    <ngb-panel class="panel-default">
      <ng-template ngbPanelTitle>
        Información de Salud
      </ng-template>
      <ng-template ngbPanelContent>
        <app-health-information></app-health-information>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
