<div class="form-container">
  <form class="form-modal" [formGroup]="guardianInformationForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="guardianPersonType">Tipo de Persona - Acudiente *</label>
      <!-- <select id="guardian-personType" formControlName="guardianPersonType"> -->
      <select id="guardianPersonType" formControlName="guardianPersonType">
        <option value="">Seleccione una opción</option>
        <option value="natural">Natural</option>
        <option value="juridica">Jurídica</option>
      </select>
    </div>

    <div class="form-group">
      <label for="guardianDocumentType">Tipo de documento Acudiente *</label>
      <input type="text" id="guardianDocumentType" formControlName="guardianDocumentType">
    </div>

    <div class="form-group">
      <label for="guardianDocumentNumber">Número de documento del Acudiente *</label>
      <input type="text" id="guardianDocumentNumber" formControlName="guardianDocumentNumber">
    </div>

    <div class="form-group">
      <label for="guardianFirstName">Primer nombre del Acudiente *</label>
      <input type="text" id="guardianFirstName" formControlName="guardianFirstName">
    </div>

    <div class="form-group">
      <label for="guardianSecondName">Segundo nombre del Acudiente</label>
      <input type="text" id="guardianSecondName" formControlName="guardianSecondName">
    </div>

    <div class="form-group">
      <label for="guardianFirstLastName">Primer apellido Acudiente *</label>
      <input type="text" id="guardianFirstLastName" formControlName="guardianFirstLastName">
    </div>

    <div class="form-group">
      <label for="guardianSecondLastName">Segundo apellido Acudiente *</label>
      <input type="text" id="guardianSecondLastName" formControlName="guardianSecondLastName">
    </div>

    <div class="form-group">
      <label for="guardianBirthDate">Fecha de nacimiento del Acudiente *</label>
      <input type="date" id="guardianBirthDate" formControlName="guardianBirthDate">
    </div>

    <div class="form-group">
      <label for="guardianBirthCountry">País de nacimiento del Acudiente *</label>
      <input type="text" id="guardianBirthCountry" formControlName="guardianBirthCountry">
    </div>

    <div class="form-group">
      <label for="guardianBirthDepartment">Departamento de nacimiento del Acudiente *</label>
      <input type="text" id="guardianBirthDepartment" formControlName="guardianBirthDepartment">
    </div>

    <div class="form-group">
      <label for="guardianBirthCity">Municipio de nacimiento del Acudiente  *</label>
      <input type="text" id="guardianBirthCity" formControlName="guardianBirthCity">
    </div>
    <button class="submit" type="submit">Siguiente </button>
    <h2>Validación Formulario</h2>
    <h5>Formulario valido = {{ guardianInformationForm.valid }}</h5>
    <ul>
      <li *ngFor="let error of formValidator | async | errors">{{ error }}</li>
    </ul>
  </form>
</div>
