<!-- <div class="container ms-3 d-flex justify-content-center" >
  <div class="modal-container mx-5" >
    <ngb-accordion>
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información Básica
        </ng-template>
        <ng-template ngbPanelContent>
          <app-basic-information></app-basic-information>
        </ng-template>
      </ngb-panel>
  
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información de nacimiento
        </ng-template>
        <ng-template ngbPanelContent>
          <app-birth-information></app-birth-information>
        </ng-template>
      </ngb-panel>
  
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información de Discapacidad
        </ng-template>
        <ng-template ngbPanelContent>
          <app-disability-information></app-disability-information>
        </ng-template>
      </ngb-panel>
  
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información de Asistencia
        </ng-template>
        <ng-template ngbPanelContent>
          <app-assistance></app-assistance>
        </ng-template>
      </ngb-panel>
  
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información de Residencia
        </ng-template>
        <ng-template ngbPanelContent>
          <app-residency-information></app-residency-information>
        </ng-template>
      </ngb-panel>
  
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información Social
        </ng-template>
        <ng-template ngbPanelContent>
          <app-social-information></app-social-information>
        </ng-template>
      </ngb-panel>
  
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información de los Padres
        </ng-template>
        <ng-template ngbPanelContent>
          <app-parent-information></app-parent-information>
        </ng-template>
      </ngb-panel>
  
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información Acudiente / Responsable
        </ng-template>
        <ng-template ngbPanelContent>
          <app-guardian-information></app-guardian-information>
        </ng-template>
      </ngb-panel>
  
      <ngb-panel class="panel-default">
        <ng-template ngbPanelTitle>
          Información de Salud
        </ng-template>
        <ng-template ngbPanelContent>
          <app-health-information></app-health-information>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
 -->
<div class="ms-5">
  <div class="tabs container">
    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Información Básica</label>
    <div class="tab">
      <h1>Información Básica</h1>
      <app-basic-information></app-basic-information>
    </div>
    
    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">Información de nacimiento</label>
    <div class="tab">
      <h1>Información de nacimiento</h1>
      <app-birth-information></app-birth-information>
    </div>
    
    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">Información de Discapacidad</label>
    <div class="tab">
      <h1>Información de Discapacidad</h1>
      <app-disability-information></app-disability-information>
    </div>
  
    <input type="radio" name="tabs" id="tabfour">
    <label for="tabfour">Información de Asistencia</label>
    <div class="tab">
      <h1>Información de Asistencia</h1>
      <app-assistance></app-assistance>
    </div>
  
    <input type="radio" name="tabs" id="tabfive">
    <label for="tabfive">Información de Residencia</label>
    <div class="tab">
      <h1>Información de Residencia</h1>
      <app-residency-information></app-residency-information>
    </div>
  
    <input type="radio" name="tabs" id="tabsix">
    <label for="tabsix">Información Social</label>
    <div class="tab">
      <h1>Información Social</h1>
      <app-social-information></app-social-information>
    </div>
  
    <input type="radio" name="tabs" id="tabseven">
    <label for="tabseven">Información de los Padres</label>
    <div class="tab">
      <h1>Información de los Padres</h1>
      <app-parent-information></app-parent-information>
    </div>
  
    <input type="radio" name="tabs" id="tabeight">
    <label for="tabeight">Información Acudiente / Responsable</label>
    <div class="tab">
      <h1>Información Acudiente / Responsable</h1>
      <app-guardian-information></app-guardian-information>
    </div>
  
    <input type="radio" name="tabs" id="tabnine">
    <label for="tabnine">Información de Salud</label>
    <div class="tab">
      <h1>Información de Salud</h1>
      <app-health-information></app-health-information>
    </div>
  
  </div>
</div>

