.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.form-modal {
  display: grid;
  gap: 10px;

  .form-group {
    display: grid;
    gap: 5px;

    label {
      display: flex;
      align-items: center;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input,
    select {
      height: 30px; /* altura deseada */
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      font-size: 14px;
    }
  }


  & > *:nth-child(5n + 1) {
    grid-column: 1 / 2;
  }

  & > *:nth-child(5n + 2) {
    grid-column: 2 / 3;
  }

  & > *:nth-child(5n + 3) {
    grid-column: 3 / 4;
  }

  & > *:nth-child(5n + 4) {
    grid-column: 4 / 5;
  }

  & > *:nth-child(5n + 5) {
    grid-column: 5 / 6;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
