.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.form-modal {
  display: grid;
  gap: 10px;

  .form-group {
    display: grid;
    gap: 5px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input,
    select {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

input.ng-invalid {
  border-color: hsla(0, 100%, 50%, 1);
  outline: hsla(0, 100%, 50%, 1);
  background-color: hsla(0, 100%, 50%, 0.1);
}

input.ng-pending {
  border-color: hsla(240, 100%, 50%, 1);
  outline: hsla(240, 100%, 50%, 1);
  background-color: hsla(240, 100%, 50%, 0.1);
}

input.ng-valid {
  border-color: hsla(120, 100%, 25%, 1);
  outline: hsla(120, 100%, 25%, 1);
  background-color: hsla(120, 100%, 25%, 0.1);
}

