<div class="container mt-4">
  <h1 class="text-center">Formulario login</h1>
  <form [formGroup]="login2" (ngSubmit)="logearse()">
    <div class="mb-3">
      <label for="correo" class="form-label">Email</label>
      <input type="text" class="form-control" id="correo" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="contra" class="form-label">password</label>
      <input type="text" class="form-control" id="contra" formControlName="password">
    </div>
    <div class="mb-3">
      <input type="submit" class="btn">
    </div>
  </form>
</div>
