<app-side-bar></app-side-bar>

<div class="container">

    <iframe class="dataOne" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-my_movie_app-nepci/embed/charts?id=641399d9-fac9-41c0-8bfe-e171915250a4&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>   


    <iframe class="dataTwo" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-my_movie_app-nepci/embed/charts?id=6413a54f-57f9-490c-8837-504f2a6aaba6&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>

</div>