<app-side-bar></app-side-bar>

<div class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>


  <div class="row">
    <div class="col-lg-12">
      <table class="table mx-auto">
        <thead class="text-center">
          <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Localidad</th>
            <th scope="col">Unidad</th>
            <th scope="col">Dupla</th>
          </tr>
        </thead>
        <tbody class="data" *ngFor="let beneficiary of listBeneficiaries">
          <tr>
            <td>{{beneficiary.basicinfo.numDoc}}</td>
            <td>{{beneficiary.basicinfo.fullName}}</td>
            <td>{{beneficiary.basicinfo.localidad}}</td>
            <td>{{beneficiary.basicinfo.unityName}}</td>
            <td>{{beneficiary.basicinfo.duoName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

