<app-side-bar></app-side-bar>

<div class="container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Busqueda de beneficiarios">
</div>


  <div class="row">
    <div class="col-lg-13">
      <table class="table mx-auto">
        <thead class="text-center">
          <tr>
            <th scope="col" class="col-2">Documento</th>
            <th scope="col" class="col-5">Nombre</th>
            <th scope="col" class="col-3">Dupla</th>
            <th scope="col" class="col-2">Unidad</th>
            <th scope="col" class="col-2">Localidad</th>
          </tr>
        </thead>
        <tbody class="data " *ngFor="let beneficiary of listBeneficiaries" (click)="openModal(beneficiary)">
          <tr>
            <td class="col-2">{{beneficiary.basicinfo.numDoc}}</td>
            <td class="col-5">{{beneficiary.basicinfo.fullName}}</td>
            <td class="col-3">{{beneficiary.basicinfo.duoName}}</td>
            <td class="col-2">{{beneficiary.basicinfo.unityName}}</td>
            <td class="col-2">{{beneficiary.residencyInformation.localityName}}</td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</div>


