<div class="form-container">
  <form class="form-modal" [formGroup]="healtInformationForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="regime">Régimen:</label>
      <select id="regime" formControlName="regime" required>
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="SUBSIDIADO">Subsidiado</option>
        <option value="CONTRIBUTIVO">Contributivo</option>
        <option value="ESPECIAL">Especial</option>
        <option value="NO_AFILIADO">No afiliado</option>
      </select>
    </div>

    <div class="form-group">
      <label for="eps">EPS:</label>
      <input type="text" id="eps" formControlName="eps" required>
    </div>

    <div class="form-group">
      <label for="hasVaccinationCard">¿Tiene carné de vacunación?:</label>
      <input type="checkbox" id="hasVaccinationCard" formControlName="hasVaccinationCard" required>
    </div>

    <div class="form-group">
      <label for="vaccinationVerificationDate">Fecha de verificación de vacunación:</label>
      <input type="date" id="vaccinationVerificationDate" formControlName="vaccinationVerificationDate">
    </div>

    <div class="form-group">
      <label for="vaccinationCardUpToDate">¿Carné de vacunación al día?:</label>
      <input type="checkbox" id="vaccinationCardUpToDate" formControlName="vaccinationCardUpToDate">
    </div>

    <div class="form-group">
      <label for="hasGrowthAndDevelopmentCard">¿Tiene carné de crecimiento y desarrollo?:</label>
      <input type="checkbox" id="hasGrowthAndDevelopmentCard" formControlName="hasGrowthAndDevelopmentCard" required>
    </div>

    <div class="form-group">
      <label for="growthDevelopmentControlsReceived">Número de controles de crecimiento y desarrollo recibidos:</label>
      <input type="number" id="growthDevelopmentControlsReceived" formControlName="growthDevelopmentControlsReceived">
    </div>

    <div class="form-group">
      <label for="prematurenessBackground">¿Antecedentes de prematuridad?:</label>
      <input type="checkbox" id="prematurenessBackground" formControlName="prematurenessBackground">
    </div>

    <div class="form-group">
      <label for="under40Weeks">¿Menos de 40 semanas de gestación?:</label>
      <input type="checkbox" id="under40Weeks" formControlName="under40Weeks">
    </div>

    <div class="form-group">
      <label for="cefalicProfile">Perfil cefálico:</label>
      <input type="text" id="cefalicProfile" formControlName="cefalicProfile">
    </div>

    <div class="form-group">
      <label for="gestationalAgeAtBirth">Edad gestacional al nacer:</label>
      <input type="number" id="gestationalAgeAtBirth" formControlName="gestationalAgeAtBirth">
    </div>

    <div class="form-group">
      <label for="weightAtBirth">Peso al nacer:</label>
      <input type="number" id="weightAtBirth" formControlName="weightAtBirth">
    </div>

    <div class="form-group">
      <label for="heightAtBirth">Talla al nacer:</label>
      <input type="number" id="heightAtBirth" formControlName="heightAtBirth">
    </div>

    <div class="form-group">
      <label for="exclusivelyBreastfeeding">¿Fue alimentado(a) exclusivamente con leche materna?:</label>
      <input type="checkbox" id="exclusivelyBreastfeeding" formControlName="exclusivelyBreastfeeding" value="yes">
    </div>

    <div class="form-group">
      <label for="exclusiveBreastfeedingDuration">¿Por cuánto tiempo?:</label>
      <input type="number" id="exclusiveBreastfeedingDuration" formControlName="exclusiveBreastfeedingDuration">
    </div>

    <div class="form-group">
      <label for="totalBreastfeedingDuration">¿Por cuánto tiempo recibió lactancia materna?:</label>
      <input type="number" id="totalBreastfeedingDuration" formControlName="totalBreastfeedingDuration">
    </div>

    <div class="form-group">
      <label for="gestationWeeks">Semanas de gestación:</label>
      <input type="number" id="gestationWeeks" formControlName="gestationWeeks">
    </div>

    <div class="form-group">
      <label for="ticketNumber">Número de ticket:</label>
      <input type="text" id="ticketNumber" formControlName="ticketNumber">
    </div>
    <button class="submit" type="submit">Siguiente</button>
  </form>
</div>
