.accordion-header {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #9DBCE4;
  border: 1px solid #cccccc;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.accordion-header.selected {
  opacity: 0.6;
  border-color: #333333;
}

.accordion-header:hover {
  background-color: #f0f0f0;
}

.accordion-header.selected:hover {
  opacity: 0.6;
  background-color: #f0f0f0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.alert-closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-closebtn:hover {
  color: black;
}

