<div class="wrapper">

  <div class="header">
    <h1 class="header__title">MERCADOS</h1>
    <h2 class="header__subtitle"></h2>
  </div>

  <div class="cards">

    <div class=" card [ is-collapsed ] ">
      <div class="card__inner [ js-expander ] text-white bg-primary mb-3">
        <span>{{marketInfo[0].type}}</span>
        <i class="fa fa-folder-o"></i>
      </div>
      <div class="card__expander">
        <i class="fa fa-close [ js-collapser ]"></i>
        <div class="container">
          <table class="table table-primary table-striped-columns my-3">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody *ngFor="let food of marketInfo[0].foodsToPrepare">
              <tr>
                <td>{{food.name}}</td>
                <td>{{food.quantity}}</td>
              </tr>
            </tbody>
          </table>
        </div>        
      </div>
    </div>

    <div class=" card [ is-collapsed ] ">
      <div class="card__inner [ js-expander ]">
        <span>{{marketInfo[1].type}}</span>
        <i class="fa fa-folder-o"></i>
      </div>
      <div class="card__expander">
        <i class="fa fa-close [ js-collapser ]"></i>
        Expander
      </div>
    </div>

    <div class=" card [ is-collapsed ] ">
      <div class="card__inner [ js-expander ]">
        <span>{{marketInfo[2].type}}</span>
        <i class="fa fa-folder-o"></i>
      </div>
      <div class="card__expander">
        <i class="fa fa-close [ js-collapser ]"></i>
        Expander
      </div>
    </div>

    <div class=" card [ is-collapsed ] ">
      <div class="card__inner [ js-expander ]">
        <span>{{marketInfo[3].type}}</span>
        <i class="fa fa-folder-o"></i>
      </div>
      <div class="card__expander">
        <i class="fa fa-close [ js-collapser ]"></i>
        
      </div>
    </div>

  </div>

</div>
