/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};


:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(184, 189, 188);
    --hovercolor: rgb(157, 188, 228);
    --width-collapsed: 50px;
}

$image-url: url("../src/assets/icons/bg.svg");
