.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  
    iframe {
      border-radius: 2px;
      box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
      background-color: #FFFFFF;
      border: none;
      width: 100%;
      max-width: 640px;
      height: 380px;
  
      @media only screen and (max-width: 768px) {
        max-width: 400px;
      }
  
      @media only screen and (max-width: 480px) {
        max-width: 280px;
        height: 360px;
      }
    }
  }