<app-side-bar></app-side-bar>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body p-0">
            <iframe class="chart-iframe" src="https://charts.mongodb.com/charts-pruebas-iuyfa/embed/charts?id=6413e837-8380-4797-8a70-1510935e75cd&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body p-0">
            <iframe class="chart-iframe" src="https://charts.mongodb.com/charts-pruebas-iuyfa/embed/charts?id=6413e7ec-3725-4d62-8a65-03838139e175&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body p-0">
            <iframe class="chart-iframe" src="https://charts.mongodb.com/charts-pruebas-iuyfa/embed/charts?id=6413e443-712a-4319-87cc-3a05041e4373&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body p-0">
            <iframe class="chart-iframe" src="https://charts.mongodb.com/charts-pruebas-iuyfa/embed/charts?id=6413e735-9290-46e1-834f-8543e6d4d3c0&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body p-0">
            <iframe class="chart-iframe" src="https://charts.mongodb.com/charts-pruebas-iuyfa/embed/charts?id=6413e129-8b24-48ca-8d3d-f28ee080f3db&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body p-0">
            <iframe class="chart-iframe" src="https://charts.mongodb.com/charts-pruebas-iuyfa/embed/charts?id=6413e324-712a-47c2-8600-3a05041d81d6&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  