<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#basic-info">Información Básica</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#birth-info">Información de Nacimiento</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#dist-info">Información de Discapacidad</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#assits-info">Información de Asistencia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#res-info">Información de Residencia</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#soc-info">Información Social</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#parent-info">Información de los Padres</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#guard-info">Información de los Guardianes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#health-info">Información de Salud</a>
  </li>
</ul>


<!-- <div class="tab-content">
  <div id="basic-info" class="tab-pane fade show active">
    <app-basic-info></app-basic-info>
  </div>
  <div id="birth-info" class="tab-pane fade">
    <app-birth-information></app-birth-information>
  </div>
  <div id="dist-info" class="tab-pane fade">
    <app-disability-info></app-disability-info>
  </div>
  <div id="assits-info" class="tab-pane fade">
    <app-assistance-info></app-assistance-info>
  </div>
  <div id="res-info" class="tab-pane fade">
    <app-residency-info></app-residency-info>
  </div>
  <div id="soc-info" class="tab-pane fade">
    <app-social-info></app-social-info>
  </div>
  <div id="parent-info" class="tab-pane fade">
    <app-parent-info></app-parent-info>
  </div>
  <div id="guard-info" class="tab-pane fade">
    <app-guardian-info></app-guardian-info>
  </div>
  <div id="health-info" class="tab-pane fade">
    <app-health-info></app-health-info>
  </div>
</div> -->
